#blog_hero{
    background-image: url("bg1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    justify-content: center;
    width: 100%;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
    padding-top: 22px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    padding-top: 100px;
}
#blog .blog-details p{
    line-height: 27px;
}
#blog .blog-details a{
    text-decoration: none;
    font-weight: 700;
    color: #1a1a1a;
    
}
#blog .blog-details a:hover{
    cursor: pointer;
    color: #088178;
}

/*About section*/

#about_hero{
    background-image: url("bg2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#about_hero h2{
    color: white;
}
#about_header{
    display: flex;
    align-items: center;
}
#about_header img{
 width: 50%;
 height: auto;
}
#about_header div{
    padding-left: 40px;
    max-width: 50%;
   
}
/*Adjusting contact page*/
#contact_details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact_details .details{
   width: 40%;
}
#contact_details .details span,
#form-details form span{
    font-size: 12px;
}
#contact_details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 30px;
    padding: 20px 0;
}
#contact_details .details h3{
    font-size: 16px;
    padding: 15px 0;
}
#contact_details .details li{
    display: flex;
    list-style: none;
    padding: 10px 0;
}
#contact_details .details li i{
    padding-right: 22px;
    font-size: 14px;
}
#contact_details .details li p{
    margin-right: 0;
    font-size: 14px;

}
#contact_details .map{
    width: 55%;
    height: 560px;
}
#contact_details .map iframe{
    width: 100%;
    height: 100%;
}
#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #1e1e1e;
}
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 18px;
    border: 1px solid #1a1a1a;
}
#form-details form button{
    background-color: #088178;
    padding: 12px 22px;
    cursor: pointer;
    margin: 2px 5px 5px 5px;
    border-radius: 12px;
}
#form-details .people img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}
#form-details .people p{
    margin: 0;
    font-size: 13px;
    list-style: 25px;
}
#form-details .people p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

  


@media (max-width: 799px){
    #blog .blog-details p{
        line-height: 27px;
        max-width: 480px;
    }
    #blog .blog-details{
        padding-top: 33px;
    }   
    /*contact page*/
    #form-details{
        padding: 40px;
    }

}
@media(max-width: 480px){
    #blog{
        padding: 100px 20px 0 20px;
    }
    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog .blog-img{
        width: 100%;
        margin-right: 0px;
    }
    /*About section*/
    .section-p1  #about_header{
        padding: 20px 40px;
    }
    #about_header{
        display: flex;
        flex-direction: column;
    }
    #about_header img{
        width: 100%;
        height: auto;
       }
       #about_header div{
        padding-left: 0px;
        max-width: 100%;
       
    }
    /* contact section */
    #contact_details{
        flex-direction: column;
    }
    #contact_details .details{
        width: 100%;
        margin-bottom: 25px;
     }
     #contact_details .map{
        width: 100%;
    }
    #form-details{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form{
        width: 100%;
        margin-bottom: 15px;
    }
    #form-details .people{
        width: 380px;
        align-items: center;
        padding: 20px 100px;
    }
  
}